.Button {
    background: #e6e3d7;
    display: flex;
    border: 1px solid;
    border-color: rgb(41, 24, 192);
    
    font-size: 20px;
    color: black;
    height: 19%;
    width: 24.5%;
}


.Button[data-size="2"] {
    height: 39%;
}


.Button[data-value="null"] {
    pointer-events: none;
}

.Button:hover {
    background: #dd5f9e;
    cursor: default;
}